{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fiches conseil</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>Description</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ficheConseil in ficheConseils %}
            <tr>
                <td><a href="{{ path('fiche_show', { 'id': ficheConseil.id }) }}">{{ ficheConseil.contenu }}</a></td>
                <td>{{ ficheConseil.description }}</td>
                <td>{{ ficheConseil.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fiche_download', { 'id': ficheConseil.id }) }}">Télécharger</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- <ul>
        <li>
            <a href="{{ path('fiche_new') }}">Create a new entry</a>
        </li>
    </ul> -->
{% endblock %}
