@model MvcWC11.Critique




<div id="comment_@Model.Id">
    <p>@Model.Texte</p>
    <p>@Model.Note</p>
    <span>
        @Ajax.ActionLink("Effacer", "Delete", new { id = @Model.Id},
                new AjaxOptions{
                               //UpdateTargetId = "comment_"+@Model.Id,
                               //InsertionMode = InsertionMode.Replace,
                               HttpMethod =  "POST",
                               Confirm = "Supprimer ?",
                               Url= Url.Action("Delete", "Critique", new { id = @Model.Id}),
                               OnSuccess 
                               ="alert(data.Message + ' ' + data.Numero);;document.getElementById('comment_' + data.Numero).style.backgroundColor='red';"
                })
    </span>
    <button onclick="RemoveComment(@Model.Id)">Effacer</button>
</div>
<hr />

<script>
    function RemoveComment(idToDelete)
    {
        $.post("@Url.Action("Delete")/" + idToDelete, Maj); 
    }

    function Maj(data)
    {
        alert(data.Message + " de " + data.Numero);
        $("#comment_" + data.Numero).remove();
    }

</script>