@model MvcWC11.Models.Comment

    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Texte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Note)
        </td>
        <td>
            @Html.ImageAndTitle("/Images/orderedList"+Model.Id+".png",20, Model.Texte) 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
        </td>
    </tr>