@model IEnumerable<MvcWC11.Models.RestoListViewModel>


<div id="divRestos">


@foreach(var item in Model)
{
    
    <div>
        <h4>@item.Name</h4>
        <div>
            @item.Localization
        </div>
        <div>
            <h5>
                @if (item.NumberOfRemarks == 0)
                {
                    <text>Pas de Critique</text>
                }
                else
                {
                    @item.NumberOfRemarks @:Critique(s)
                    <br />
                    <text>Moyenne des Notes </text> 
                    @item.AverageOfRemarks.ToString("0.00")
                    @item.AverageOfRemarks.ToString("C")
                }
            </h5>

        </div>
        <hr />
    </div>
  
}
  </div>