@model stopgaspi.sw.WebSite2.App_Code.entites.User

@{
    ViewBag.Title = "inscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>inscription</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom)
            @Html.ValidationMessageFor(model => model.Nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Prenom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Prenom)
            @Html.ValidationMessageFor(model => model.Prenom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adresse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adresse)
            @Html.ValidationMessageFor(model => model.Adresse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mail)
            @Html.ValidationMessageFor(model => model.Mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationMobile)
        </div>*@
       @* <div class="editor-field">
            @Html.EditorFor(model => model.ApplicationMobile)
            @Html.ValidationMessageFor(model => model.ApplicationMobile)
        </div>*@

       @* <div class="editor-label">
            @Html.LabelFor(model => model.DateCreation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreation)
            @Html.ValidationMessageFor(model => model.DateCreation)
        </div>*@

        <p>
            <input type="submit" value="Create"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
