@{
    ViewBag.Title = "AJout Critique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>CVritique</legend>


        <div class="editor-label">
            @Html.Label("Votre Critique")
        </div>
        <div class="editor-field">
            @Html.TextArea("Texte")
        </div>

        <div class="editor-label">
            @Html.Label("Votre Note")
        </div>
        <div class="editor-field">
            @Html.TextBox("Note")
        </div>

        <div class="editor-label">
            @Html.Label("Votre Pseudo")
        </div>
        <div class="editor-field">
            @Html.TextBox("Pseudo")
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
