@model MvcWC11.Models.Comment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div>

    @helper Logo(int dim, string titre , string chemin)
    {
        <img src="@chemin" alt="@titre"  width="@(dim)px" height="@(dim)px"/>
    }
    @Logo(100, "Logo","~/Images/orderedList1.png")

</div>



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Comment</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Texte)
        </div>
        <div class="editor-field">
           @* @Html.EditorFor(model => model.Texte)*@
           @* @Html.TextBox("Texte")*@
           @* @Html.TextAreaFor(model => model.Texte)*@
            @Html.TextArea("Texte")
           
            @Html.ValidationMessageFor(model => model.Texte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
