@model IEnumerable<MvcWC11.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    //Layout = null;
}

<h2>Index</h2>
<div>

    @helper Logo(int dim, string titre , string chemin)
    {
        <img src="@chemin" alt="@titre"  width="@(dim)px" height="@(dim)px"/>
    }
    @Logo(100, "Logo","/Images/orderedList1.png")

    @Html.ListUL(new string[] { "Toto", "titi", "tata", "tutu", ViewBag.Pire })
    @Html.ImageAndTitle("/Images/orderedList1.png", 20, "loiste")
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>Icone</th>
        <th></th>
    </tr>
   @Html.Action("PireComment");


@foreach (var item in Model) {
    @Html.Partial("_PartialComment", item)

}

</table>


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}