@model MvcWC11.Resto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Resto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodePostal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodePostal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ville)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ville)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Photo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Photo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreation)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
